.header-menu {
    display: flex;
    justify-self: flex-end;
    flex-direction: row;
    flex: 1;
    justify-content: flex-end;
}
.header-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-self: flex-end;
    flex-direction: row;
}

.header-menu li:first-child {
    margin: 0;
}
.header-menu li {
    margin-left: 15px;
}

.header-menu a {
    text-decoration: none;
    color: #003A55;
}

.header-menu a:hover {
    border-bottom: 3px solid #003A55;
    animation: 1s ease-in;
}