.header-menu {
    display: flex;
    justify-self: flex-end;
    flex-direction: row;
}
.header-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-self: flex-end;
    flex-direction: row;
}

.header-menu li:first-child {
    margin: 0;
}
.header-menu li {
    margin-left: 15px;
}