.announcement {
    background-color: #003A55;
    color: white;
    font-size: 18px;
    display: flex;
    font-weight: 100;
    padding: 5px 10px;
}
.announcement-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}